/*Barra de navegacao*/
header, .navbar{
    background-color:#F3CA06;
    
}
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
 }
    
#logo{
    width: 160px;
}
    
.navbar-brand{
    padding: 0;
    color: white;
}
    
.navbar-brand:hover{
    color: white;
}
    
#navbar-links a{
    color: white;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}
body::-webkit-scrollbar {
  width: 16px;              
}

body::-webkit-scrollbar-track {
  background: #08051C;      
}

body::-webkit-scrollbar-thumb {
  background-color: #F3CA06;    
  border-radius: 20px;       
  border: 3px solid orange 
}    