/* Gerais */

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
}
.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li{
    color: #444;
    font-size: 14px;
}

/* Slider */

.carousel-item h5{
    font-size: 50pt;
    text-shadow:2.5px 2.3px #000440;
}
.carousel-item p{
    font-size: 20pt;
    color: white;
    text-shadow:2.5px 2.3px #000440;
}
.carousel-item button{
  color: white;
    width: 200px;
  height: 60px;
  border-radius: 30px;
  transition: .5s;
  text-transform: uppercase;
    
}
.carousel-item button:hover{
  text-decoration: none;
    color: white;
  background-color: transparent;
  }
.carousel-indicators .active{
    background-color: #F3CA06;
  }
h6{
	font-size: 20pt;
	font-weight: 500;
	text-shadow:2.5px 2.3px #000440;
	
}

  /*About */
  .about-area{
      background-color: #f5f5f5;
  }
  
  .main-title{
      color: #444;
      margin: 0 0 65px 0;
      font-size: 40px;
      text-align: center;
  }

.about-title{
      font-size: 17px;
      color: #444;
      text-transform: uppercase;
     font-weight: bold;
  }
#about-list{
    list-style: none;
    padding-left: 0;
}
#about-list li{
    line-height: 30px;
    font-size: 11pt;
}
#about-list i{
    color:#DB8F02;
    margin-right: 15px;
}


/*SERVI�OS*/
.service-box{
text-align: center;
margin-bottom: 40px;
}

.fa-lightbulb,.fa-user-plus,.fa-cogs, .service-box h4{
    transition: .5s;

}

.fa-lightbulb,.fa-user-plus,.fa-cogs{
    font-size: 36px;
    margin-bottom: 20px;
    color: #000440;
}

.service-box h4{
    font-size: 20px;
    margin-bottom: 10px;
    text-align:center;
}

.fa-lightbulb:hover,.fa-user-plus:hover,.fa-cogs:hover , .service-box:hover > h4{
    color:#DB8F02;
   
}
.fa-lightbulb,.fa-user-plus,.fa-cogs{
	 font-size: 34px;
}
/*PORTFLOIO */

.main-btn{
background-color:#F3CA06;
color: #fff;
text-transform: uppercase;
width: 200px;
height: 60px;
padding: 10px 20px;
border-radius: 30px;
border: 3px solid transparent;
}

.project-box{
    margin-bottom: 30px;
}
#filter-btn-box{
    margin-bottom: 50px;
    text-align: center;
}
#portfolio-area .filter-btn{
    color: #444;
    border: 1px solid #444;
    background: transparent;
    text-transform: none;
    margin: 0px 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
}
#portfolio-area .filter-btn.active, #portfolio-area .filter-btn:hover{
    color: white;
    background-color: #000440;
    border-color:#F3CA06;
}
.alert{
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 8.070%;
	
}
#criatividade{
	width:390px;
	position:relative;
	top:20px;
	
    
    
}
#equipe{
	position: relative;
	left:0px;
    top:-150px;
}
.grupo{
	 list-style: none;
	 font-size:30x;
}
#luzes{
	width:500px;
	border-radius:20px;
	position:relative;
	top:8px;
	box-shadow:10px #F3CA06;
	padding:1.5px;
	}
.texto{
	text-align:justify;
	font-size:14px;
}