<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<title>Timeline</title>

<!--Fonte-->
<link rel="stylesheet" href="../Roboto/Roboto-Regular.ttf">
<!-- Bootstrap-->
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
<!-- Nossas configurações -->
<link rel="stylesheet" href="../css/barra_navegacao.css">
<link rel="stylesheet" href="../css/feed.css">
<!-- Fontawesome -->
<link  rel="stylesheet" href="../fontawesome/css/all.min.css" >
</head>

<body>
	<header>
	  <div class="container" id="nav-container">
		<nav class="navbar navbar-expand-lg fixed-top">
		<div><img id="logo" src="../img/MicrosoftTeams-image-removebg-preview-Branco.png" alt="IdeaBox"></div>
		  <a href="#" class="navbar-brand"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" ata-target="#navbar-links"
			aria-controls="navbar-links" aria-expanded="false" aria-label="Toogle navigation">
			<span class="navbar-toggler-icon"></span></button>
			  <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
				<div class="navbar-nav">
				  <a class="nav-item nav-link" id="home-menu" href="/">Home</a>
				  <a class="nav-item nav-link" id="about-menu" href="/login">Login</a>
				  <a class="nav-item nav-link" id="team-menu" href="/timeline/1">Timeline</a> <a class="nav-item nav-link" id="contact-menu" href="/profile">Perfil</a>
				  <a class="nav-item nav-link" id="exit-menu" href="/logout">Sair</a>
				</div>
				<div class="tema">
				  <button class="btn btn-light" onclick="mudaTema()"><i class="fas fa-moon"></i></button>
				</div>
			</div>
		</nav>
	  </div>
  </header>
  <main>
 <h5>Dê sua sugestão e dê sua nota nas sugestões abaixo!</h5>
 <div class="alert alert-sucess"  id="alerSugestaoCadastrada" role="alert" th:if="${msg}" ><strong th:text="${msg}"><i class="fas fa-check-circle"></i></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>
 		<form method="post" action="/timeline/1">
	   <div class="container">
	   
	   	<div class="mb-3">
		 <label for="texto" class="form-label"></label>
			 <div class="mb-3">
			   <textarea class="form-control" id="texto" name="texto" rows="3" maxlength="240" placeholder="Digite sua sugestão" oninput="limitarCaracter()"></textarea>
			</div>
				 <label class="categoria">Categoria</label>
           <select class="form-select" aria-label="Default select example" name="categoria">
					<option selected>ALIMENTAÇAO</option>
					<option>INFORMATICA</option>
					<option>INFRAESTRUTURA</option>
					<option>SEGURANÇA</option>
					<option>SISTEMAS</option>
					<option>TRANSPORTE</option>
					<option>OUTROS</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary" id="botao" disabled=true onclick="mensagem()">Enviar</button>
		</div>
	</form>
<!-- Area de sugestoes -->
	<div class="container">
	  <div th:each="sugestao : ${sugestoes}">
		<ul class="list-group">
		  <li class="list-group-item"><span th:text="${sugestao.texto}"></span><span class="data" th:text="${sugestao.dataEnvio}"></span>
<!-- AVALIAÇÃO -->
			<form method="POST"  th:action="${(#mvc.url('SC#avaliarSugestao').arg(0, sugestao.id)).build()}">
		      <div data-bs-toggle="tooltip" data-bs-placement="bottom" title="Posicione embaixo da estrela para dar sua nota"><span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
		       <i class="fa fa-star"></i> <i class="fa fa-star"></i></span></div>
				<input type="range" class="form-range" name="classificacao" min="1" max="5" id="customRange2">
				 <button type="submit" class="btn btn-primary" onclick="confirmado()">Avaliar</button>
			 </form>
		  </li>
	    </ul>
	  </div>
	</div>
	<div th:if = "${totalPages > 1}">
	   <ul class="pagination justify-content-center d-inline-block" th:each="i: ${#numbers.sequence(1, totalPages)}" id="horizontal-list">
		 <li class="page-item"><a class="page-link" th:if="${currentPage != i}" th:href="@{'/timeline/' + ${i}}">[[${i}]] </a></li>
		 <li class="page-item"><span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span></li>	
	   </ul>
	</div>
</main>
<script src="../bootstrap/js/bootstrap.bundle.min.js"></script> 
<script defer src="../fontawesome/js/all.js"></script>
<script src="../js/scripts.js"></script>  
</body>
</html>