<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<title>Perfil</title>

<!--Fonte-->
<link rel="stylesheet" href="Roboto/Roboto-Regular.ttf">
<!-- Bootstrap-->
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<!-- Nossas Configurações -->		
<link rel="stylesheet" href="css/barra_navegacao.css">
<link rel="stylesheet" href="css/profile.css">
<!-- Fontawesome -->
<link  rel="stylesheet" href="fontawesome/css/all.min.css" >
</head>

<body>
	<header>
		<div class="container" id="nav-container">
			<nav class="navbar navbar-expand-lg fixed-top">
			<div><img id="logo" src="img/MicrosoftTeams-image-removebg-preview-Branco.png" alt="IdeaBox"></div>
				<a href="#" class="navbar-brand"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toogle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbar-links">
					<div class="navbar-nav">
						<a class="nav-item nav-link" id="home-menu" href="/">Home</a>
						<a class="nav-item nav-link" id="about-menu" href="/login">Login</a>
						<a class="nav-item nav-link" id="team-menu" href="/timeline/1">Timeline</a>
						<a class="nav-item nav-link" id="contact-menu" href="/profile">Perfil</a>
						<a class="nav-item nav-link" id="exit-menu" href="/logout">Sair</a>
					</div>
					<div class="tema">
					<button class="btn btn-light" onclick="mudaTema()"><i class="fas fa-moon"></i></button>
					</div>
				</div>
			</nav>
		</div>
	</header>
	
	<main>
	 <h1>Bem vindo&nbsp;<span th:text="${colaborador.nome}"></span>, ao seu perfil!</h1>
		<div class="container">
		  <div class="row">
			<div class="col">
			 <div class="profile">
				<img class="imagcolaborador" src="img/criatividade3-removebg-preview.png" alt="">
				<h4> &nbsp;<span th:text="${colaborador.nome}"></span></h4>&nbsp;
					<h6><b>CPF:</b>&nbsp;<span th:text="${colaborador.cpf}"></span></h6>
					<h6><b>Cargo:</b>&nbsp;<span th:text="${colaborador.cargo.nome}"></span></h6>
					<h6><b>Email:</b>&nbsp;<span th:text="${colaborador.email}"></span></h6>
			  </div>
			</div>
		<div class="col">
		  <div class="contador">
			<div class="row align-items-start">
				<div class="col">
				<h6>Sugestões</h6>
				<p><span th:text="${#lists.size(sugestoes)}"></span></p> 
                </div>
             <div class="col">
              <h6>Avaliações</h6>
              <p><span th:text="${colaborador.totalSugestoesAvaliadas}"></span></p>
             </div>
            </div>
          </div>  
                <div class="Sugestoes">
                  <p><a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Suas Sugestões &nbsp; <i class="fas fa-lightbulb"></i></a></p>
                     <div class="collapse" id="collapseExample">
                       <div class="card card-body w-100">
                         <table class="table">
                          <tbody>
                            <tr th:each="sugestao : ${sugestoes}">
                              <td><span th:text="${sugestao.texto}"></span>
                               <button type="button" class="btn1" data-bs-toggle="modal" th:attr="data-bs-target='#exampleModal' +*{sugestao.id}"><i class="far fa-edit"></i>
                              </button>
                              
<!-- Modal Editar -->
                    <div class="modal fade" th:id="*{'exampleModal' + {sugestao.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                      <div class="modal-content">
                       <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Sugestão</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    <div class="modal-body">
                     <form method="post" action="/editar">
                      <div class="mb-3">
                       <label for="id"></label>
                       <input type="hidden" th:value="*{sugestao.id}" class="form-control" name="id" id="id" >
                       <label for="texto" class="form-label">Nova sugestão</label>
                       <input type="text" th:value="*{sugestao.texto}" class="form-control" id="texto" name="texto">
                      </div>
                      <label >Categoria</label>
           <select class="form-select" aria-label="Default select example" name="categoria">
					<option selected>ALIMENTAÇAO</option>
					<option>INFORMATICA</option>
					<option>INFRAESTRUTURA</option>
					<option>SEGURANÇA</option>
					<option>SISTEMAS</option>
					<option>TRANSPORTE</option>
					<option>OUTROS</option>
				</select>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-outline-success">Aceitar</button>
                        </div>
                     </form>
                    </div>
                  </div>
                </div>
             </div>
<!-- End Modal Editar -->								
                </td>
                 </tr>
                  </tbody>
                   </table>
                 </div>
                </div> 
               </div>          
              </div> 
             </div>
            </div>
</main>

<script src="bootstrap/js/bootstrap.bundle.min.js"></script> 
<script defer src="fontawesome/js/all.js"></script>
<script src="js/scripts.js"></script>  
</body>
</html>